@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-down(sm) {
    footer {
        font-size: 12px;
    }
}

nav,
footer {
    background-color: $gray-200;
}

@media (prefers-color-scheme: light) {
    /* styles for light mode */
    nav,
    footer {
      background-color: $gray-200;
      color: $gray-800;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    /* styles for dark mode */
    nav,
    footer {
      background-color: $gray-800;
      color: $gray-200;
    }
  }

